@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import './colors.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora";
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e5d3cf;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.formulario {
  background-color: var(--Blanco);
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 0px 40px #7700002d;
  color: var(--Texto);
  padding: 20px;
}

.form {
    flex-direction: column;
    justify-content: center;
    position: relative;
}

select {
    border: 2px var(--Texto) solid;
    background-color: var(--Blanco);
    padding: 10px;
    width: 75%;
    border-radius: 50px;
    margin: 8px 0;
}

.form h1 {
    font-family: "Lora";
    height: 60px;
    text-align: center;
    padding-top: 20px;
    color: var(--Texto);
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputext {
    margin: 10px 50px;
    width: 350px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px var(--Texto) solid;
    background-color: #f9f5f4;
}

.inputext:hover {
    box-shadow: 0px 0px 40px #7700002d;
}

.inputext:focus {
    border-color: var(--Principal);
    outline: none;
}

.buttonsbmt {
    margin: auto;
    padding: 10px 20px;
    font-family: "Lora";
    background-color: var(--Blanco);
    border-radius: 50px;
    display: inline-block;
    border: 2px solid var(--Texto);
    cursor: pointer;
}

.buttonsbmt:hover {
    background-color: var(--Texto);
    color: var(--Blanco);
}

.back {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
    color: var(--Negro);
}

.back:hover {
    color: var(--Texto);
}

textarea {
    margin: 10px 50px;
    width: 350px;
    height: 100px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px var(--Texto) solid;
    background-color: #f9f5f4;
    resize: none;
}

.inputextdesc {
    border-radius: 10px;
}

textarea:hover,
textarea:focus {
    box-shadow: 0px 0px 40px #7700002d;
    outline: none;
}

label {
    font-size: 14px;
    color: var(--Texto);
    display: block;
    margin-top: 15px;
}
