@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import '../login/styles/colors.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora';
}

html, body {
    height: 100%;
    background-color: #f9f9f9;
}

hr {
    background-color: var(--Texto);
    height: 10px;
    border: none;
}

.contenedor {
    margin: 50px auto;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}

.contenedor_frm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-card {
    background-size: cover; /* Cubrir el contenedor con la imagen */
    background-position: center; /* Centrar la imagen */
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    position: relative; /* Necesario para posicionar el contenido dentro */
    width: calc(30% - 30px); /* Tres tarjetas por fila */
    height: 300px; /* Altura fija para las tarjetas */
    overflow: hidden; /* Esconder contenido que sobresalga */
    transition: transform 0.5s, box-shadow 0.5s; /* Transición para la tarjeta */
    box-shadow: 0px 0px 15px #868686a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-content {
    text-align: center; /* Asegura que el texto esté centrado */
    position: absolute; /* Posicionar el contenido sobre la imagen */
    top: 0; /* Alinear al contenido en la parte superior */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha */
    bottom: 0; /* Alinear en la parte inferior */
    padding: 20px; /* Espaciado alrededor del contenido */
    background: rgba(255, 255, 255, 0.674); /* Fondo blanco semi-transparente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.30s ease-in-out; /* Transición suave */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-card:hover .menu-content {
    opacity: 1; /* Mostrar el contenido al pasar el mouse */
}

.menu-card h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--Texto);
}

.menu-card h3 {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

@media screen and (max-width: 900px) {
    .menu-card {
        width: calc(45% - 30px); /* Dos tarjetas por fila en pantallas pequeñas */
        height: 200px;
        padding: 10px;
    }

    .menu-content {
        padding: 10px;
    }

    .contenedor {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .menu-card {
        width: calc(45% - 30px); /* Dos tarjetas por fila en pantallas pequeñas */
        height: 230px;
    }
}

@media (max-width: 480px) {
    .menu-card {
        width: 100%; /* Una tarjeta por fila en pantallas muy pequeñas */
    }
}

.boton-ver-mas {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--Texto);
    color: white;
    border: none;
    border-radius: 50%;
    text-decoration: none; /* Eliminar el subrayado del enlace */
    font-size: 24px; /* Aumento del tamaño del ícono */
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 10px; /* Separación entre ícono y el contenido */
}

.boton-ver-mas:hover {
    background-color: var(--Secundario);
    color: var(--Texto);
}

.boton-ver-mas i {
    margin: 0; /* Eliminar el espacio adicional */
}

