@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import '../login/styles/colors.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora';
}

html, body {
    height: 100%;
    background-color: #f9f9f9;
}

hr {
    background-color: var(--Texto);
    height: 10px;
    border: none;
}

.contenedor {
    margin: 50px auto;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}

.contenedor_promociones {
    margin: auto;
    width: 70%;
    padding: 15px;
    text-align: center;
    border: 1px red solid;
}

.paquete {
    margin-bottom: 30px; /* Espacio entre los paquetes */
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro para cada paquete */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para cada paquete */
}

.paquete h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px; /* Espacio entre el título y la descripción */
}

.paquete h3 {
    font-size: 18px;
    color: #7f8c8d;
    margin-top: 0; /* Eliminar espacio arriba del h3 */
}

.ver-detalles {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--Texto);
    color: white;
    border: 1px solid var(--Texto); /* Asegúrate de usar el mismo color para el borde */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Incluye la transición del borde */
}

.ver-detalles:hover {
    background-color: var(--Secundario);
    color: var(--Negro);
    border-color: var(--Secundario); /* Cambia el borde de manera coherente con el color de fondo */
}

/* Estilo del Modal */
.modal {
    display: none; /* Mantener el modal oculto por defecto */
    position: fixed; /* Fija el modal en la pantalla */
    z-index: 1; /* Asegura que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    overflow: auto; /* Asegura que si el contenido es grande, pueda desplazarse */
}

/* Contenido del modal */
.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Ajusta el ancho del modal */
    max-width: 600px; /* No será más ancho que 600px */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombras suaves */
    position: absolute; /* Usar absolute para centrarlo */
    left: 50%; /* Centro horizontal */
    top: 50%; /* Centro vertical */
    transform: translate(-50%, -50%); /* Ajusta el centro al 50% de la pantalla */
}

/* Cerrar botón (la X) dentro del modal */
.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px; /* Lo posiciona en la esquina superior derecha del modal */
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Imagen dentro del modal */
#modal-image {
    max-width: 100%; /* La imagen no se saldrá del modal */
    height: auto; /* Mantiene las proporciones */
    margin: 20px 0; /* Añade espacio alrededor de la imagen */
}

/* Ajuste del título y descripción */
#modal-title {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

#modal-description {
    font-size: 16px;
    text-align: center;
}

/* Estilos para el botón de "Reservar" en el modal */
#modal-reservar-btn {
    background-color: var(--Texto); /* Color de fondo verde */
    color: var(--Blanco);              /* Texto blanco */
    padding: 15px 32px;        /* Espaciado interno */
    text-align: center;        /* Centrado de texto */
    text-decoration: none;     /* Sin subrayado */
    display: inline-block;     /* Para que sea un bloque en línea */
    font-size: 16px;           /* Tamaño de la fuente */
    border: none;              /* Sin bordes */
    border-radius: 8px;        /* Bordes redondeados */
    cursor: pointer;          /* Cursor tipo puntero */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}






@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import '../login/styles/colors.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora';
}

html, body {
    height: 100%;
    background-color: #f9f9f9;
}

hr {
    background-color: var(--Texto);
    height: 10px;
    border: none;
}

.contenedor {
    margin: 50px auto;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}

.contenedor_promociones {
    margin: auto;
    width: 70%;
    padding: 15px;
    text-align: center;
}

.paquete {
    margin-bottom: 30px; /* Espacio entre los paquetes */
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro para cada paquete */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para cada paquete */
}

.paquete h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px; /* Espacio entre el título y la descripción */
}

.paquete h3 {
    font-size: 18px;
    color: #7f8c8d;
    margin-top: 0; /* Eliminar espacio arriba del h3 */
}

.ver-detalles {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--Texto);
    color: white;
    border: 1px solid var(--Texto); /* Asegúrate de usar el mismo color para el borde */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Incluye la transición del borde */
}

.ver-detalles:hover {
    background-color: var(--Secundario);
    color: var(--Negro);
    border-color: var(--Secundario); /* Cambia el borde de manera coherente con el color de fondo */
}

/* Estilo del Modal */
.modal {
    display: none; /* Mantener el modal oculto por defecto */
    position: fixed; /* Fija el modal en la pantalla */
    z-index: 1; /* Asegura que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    overflow: auto; /* Asegura que si el contenido es grande, pueda desplazarse */
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Ajusta el ancho del modal */
    max-width: 600px; /* No será más ancho que 600px */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombras suaves */
    position: absolute; /* Usar absolute para centrarlo */
    left: 50%; /* Centro horizontal */
    top: 50%; /* Centro vertical */
    transform: translate(-50%, -50%); /* Ajusta el centro al 50% de la pantalla */
}

/* Cerrar botón (la X) dentro del modal */
.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px; /* Lo posiciona en la esquina superior derecha del modal */
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Imagen dentro del modal */
#modal-image {
    max-width: 100%; /* La imagen no se saldrá del modal */
    height: auto; /* Mantiene las proporciones */
    margin: 20px 0; /* Añade espacio alrededor de la imagen */
}

/* Ajuste del título y descripción */
#modal-title {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

#modal-description {
    font-size: 16px;
    text-align: center;
}

/* Estilos para el botón de "Reservar" en el modal */
#modal-reservar-btn {
    background-color: var(--Texto); /* Color de fondo verde */
    color: var(--Blanco);              /* Texto blanco */
    padding: 15px 32px;        /* Espaciado interno */
    text-align: center;        /* Centrado de texto */
    text-decoration: none;     /* Sin subrayado */
    display: inline-block;     /* Para que sea un bloque en línea */
    font-size: 16px;           /* Tamaño de la fuente */
    border: none;              /* Sin bordes */
    border-radius: 8px;        /* Bordes redondeados */
    cursor: pointer;          /* Cursor tipo puntero */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}






